.footerContainer {
    display: flex;
    width: 100%;
    height: 200px;
    padding: 0px 100px;

    align-content: center;
    justify-content: center;

    background-color: hsl(233, 26%, 24%);
}

.footerSubject {
    height: 75%;
    display: block;
    width: 33%;
    margin: auto;
}

.logoContainer, .faviconContainer {
    width: fit-content;
    height: 50%;
    margin: auto;
    
    display: flex;
}

.copyrightContainer p{
    color: hsl(233, 8%, 62%);
}

.btnContainer, 
.copyrightContainer {
    height: 50%;
    justify-content: flex-end;
    align-content: center;
}
