.footerContainer {
    display: flex;
    width: 100%;
    height: 200px;
    padding: 0px 100px;

    align-content: center;
    justify-content: center;

    background-color: hsl(233, 26%, 24%);
}

.footerSubject {
    height: 75%;
    display: block;

    width: 33%;
    margin: auto;
}

.leftJustifiedFooter {
    height: 100%;
    width: fit-content;
    margin: auto;
}

.logoContainer, .faviconContainer {
    width: fit-content;
    height: 50%;
    margin: auto;
    
    display: flex;
}

.linkContainer {
    margin: auto;
    height: 100%;
    display: flex;
}

.leftLinkList, .rightLinkList {
    display: block;
    width: 50%;
    margin: auto;
}

.leftLinkList div, .rightLinkList div{
    width: 100%;
    display: flex;
    height: 35px;
    margin: auto
}

.leftLinkList a, .rightLinkList a{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.rightJustifiedFooter {
    height: 100%;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

.copyrightContainer p{
    color: hsl(233, 8%, 62%);
}

.rightJustifiedFooter .btnContainer, 
.rightJustifiedFooter .copyrightContainer {
    margin: auto 0px auto auto;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
}

/* .btnContainer .inviteBtnContainer, .copyrightContainer p {
    align-self: center;
} */