.inviteBtnContainer {
    background: rgb(49,211,92);
    background: -moz-linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    
    border: none;
    border-radius: 20px;

    color: white;
    cursor: pointer;

    text-align: center;
    text-decoration: none;

    height: 40px;
    width: 160px;
}

.inviteBtnContainer:hover {
    background: rgba(49,211,92, 70);
    background: -moz-linear-gradient(90deg, rgba(49,211,92,0.7) 0%, rgba(43,183,218,0.7) 100%);
    background: -webkit-linear-gradient(90deg, rgba(49,211,92,0.7) 0%, rgba(43,183,218,0.7) 100%);
    background: linear-gradient(90deg, rgba(49,211,92,0.7) 0%, rgba(43,183,218,0.7) 100%);
}